.name
compiler.xml
profiles_settings.xml
encodings.xml
Maven__com_sun_mail_javax_mail_1_5_0.xml
Maven__commons_logging_commons_logging_1_1_1.xml
Maven__de_odysseus_juel_juel_api_2_2_7.xml
Maven__de_odysseus_juel_juel_impl_2_2_7.xml
Maven__de_odysseus_juel_juel_spi_2_2_7.xml
Maven__javax_activation_activation_1_1.xml
Maven__javax_javaee_api_7_0.xml
Maven__javax_mail_mail_1_4_1.xml
Maven__joda_time_joda_time_2_1.xml
Maven__org_apache_commons_commons_email_1_2.xml
Maven__org_camunda_bpm_camunda_engine_7_5_0.xml
Maven__org_camunda_bpm_camunda_engine_cdi_7_5_0.xml
Maven__org_camunda_bpm_dmn_camunda_engine_dmn_7_5_0.xml
Maven__org_camunda_bpm_dmn_camunda_engine_feel_api_7_5_0.xml
Maven__org_camunda_bpm_dmn_camunda_engine_feel_juel_7_5_0.xml
Maven__org_camunda_bpm_model_camunda_bpmn_model_7_5_0.xml
Maven__org_camunda_bpm_model_camunda_cmmn_model_7_5_0.xml
Maven__org_camunda_bpm_model_camunda_dmn_model_7_5_0.xml
Maven__org_camunda_bpm_model_camunda_xml_model_7_5_0.xml
Maven__org_camunda_commons_camunda_commons_logging_1_3_0.xml
Maven__org_camunda_commons_camunda_commons_typed_values_1_3_0.xml
Maven__org_camunda_commons_camunda_commons_utils_1_3_0.xml
Maven__org_mybatis_mybatis_3_2_8.xml
Maven__org_slf4j_slf4j_api_1_7_7.xml
Maven__org_springframework_spring_asm_3_1_2_RELEASE.xml
Maven__org_springframework_spring_beans_3_1_2_RELEASE.xml
Maven__org_springframework_spring_core_3_1_2_RELEASE.xml
misc.xml
modules.xml
uiDesigner.xml
workspace.xml
/module-ear/*.iml
*.iml
/module-web/src/main/webapp/bpmn-js-seed/bower_components/bpmn-js/bower.json
/module-web/src/main/webapp/bpmn-js-seed/bower_components/bpmn-js/.bower.json
/module-ear/target
/module-ejb/target
/module-web/target
